@import '@/style/index.scss';

.cardlLyout {
    @include flex(flex-start);
    .card {
        @include flex;
       
    }

    .width50 {
        width: 50%;
    }
    .mr25{
        margin-right: 25px;
    }

    .textRight {
        text-align: right;
    }
}