@import '~antd/dist/antd.css';
html,body,#root{
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}

p {
  white-space: nowrap;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,
.ant-layout {
  height: 100%;
}

.ant-card-body {
  padding: 10px
}

.ant-layout-header {
  background-color: white;
}

.ant-upload-picture-card-wrapper {
  width: auto;
}

.border-none {
  .ant-card-head {
    border-bottom: none;
  }
}
.ant-tabs{
  overflow: visible;
}